/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);


.active {
    background-color: #f5f9fc;
    color: #495392;
}

/* Brand Logo sizing */
@media (min-width: 991px) {
    .navbar .dropdown {
        display: flex;
        align-items: center;
        justify-content: center; /* Centers horizontally */
    }
}

@media (max-width: 650px) {
    .navbar-brand img {
        width: 200px;
    }
}
@media (max-width: 426px) {
    .navbar-brand img {
        width: 150px;
    }
    .avatar-child {
        display: none;
    }
}
